body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #97c93c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nbLikes, .nbDislikes{
  color: white;
  font-size: 13px;
  font-weight: 500;
  float: right;
  margin: 5px;
}

.numberImage{
  font-weight: 800;
}

.btn-like, .btn-dislike {
  background: white;
  font-size: 50px;
  border-radius: 100px;
  padding: 10px;
  height: 70px;
  position: relative;
}

.btn-like svg, .btn-dislike svg{
  vertical-align: super;
}

.btn-bottom{
  border-radius: 100px;
  border:none;
  box-shadow: 2px 2px 5px rgba(0,0,0,.125);
    padding: 10px 25px;
}

.card.rounded-bottom{
  margin-bottom: 50px;
  border-bottom-left-radius: 50px!important;
  border-bottom-right-radius: 50px!important;
  text-align: center;
}

.card.rounded-bottom h1{
  color: #97c93c;
}

.logo_quincaillerie img{
  width: 200px;
}

.Qcard{
  border-radius: 15px;
}

.Qcard img{
  margin: 10px;
}

.btn-bottom{
  margin-top: 10px;
}

.rank col-md-3{
  padding: 0;
}

.rank row{
  padding: 0;
}

@media screen and (max-width: 640px) {
  .col-like {
    position: absolute;
    bottom:0px;
    left: 50vw;
  }

  .col-dislike {
    left: 20vw;
    bottom: -10px;
  }

  .col-sm-6{
    width: 50%;
  }

  .rank{
    margin: 0;
  }

  .rank .col-sm-6{
    padding: 0;
  }
}